<div style="position: relative">
  <img class="banner-image" src="{{.Site.BaseURL}}img/hat-start-banner-thin.jpg" alt="trail through the woods">
  <div class="banner-overlay">
    <div class="banner-title-wrapper">
      <h2 class="banner-title">{{.Site.Params.event.raceMonth}} {{.Site.Params.event.raceDate}},
        {{.Site.Params.event.raceYear}}</h2>
      <!-- <h1 class="banner-title">{{.Site.Title}}</h1> -->
      <!-- <h2 class="banner-location">Susquehanna State Park | {{.Site.Params.raceDate}}, {{.Site.Params.raceDateYear}}</h2>
      <a class="banner-register-link" href="{{.Site.Params.registerLink}}" role="button" target="__blank">Register at
        Ultra Signup</a> -->
    </div>
  </div>
</div>