<div class="home-opener-container">
    <div class="column-left" >
        <img class="" src="{{.Site.BaseURL}}img/phil_and_jeff.jpg" alt="">
    </div>
    <div class="column-right">
        <p>We are deeply saddened by the sudden loss of Jeff, who—along with Phil—founded the HAT Run 50K 
        in 1989 out of their shared love for trail running, at a time when ultra trail races were rare 
        on the East Coast. Jeff's vision and commitment brought to life an event that has united runners 
        for decades and built a vibrant community. As an accomplished ultrarunner, he not only inspired 
        others with his achievements, but also with his humor, infectious laugh, and unwavering 
        encouragement—especially at the finish line, where he cheered every participant. We are 
        forever grateful for the legacy Jeff leaves behind, and we honor his memory with heartfelt 
        thanks for the enduring gift of the HAT Run 50K. He will be deeply missed and fondly remembered 
        by all who had the privilege to know him.</p>
    </div>
    
    
</div>