<div {{with .Get "style" }}style="{{.}}" {{else}} {{ "" }}{{end}}>

    <p><a href="{{.Site.Params.registerLink}}">REGISTER HERE</a></p>


    <!--
    <p>Race registration opens Black Friday, {{.Site.Params.registration.month}} {{.Site.Params.registration.date}}.</p>

    <p><strong>** Pricing schedule will be released soon **</strong></p>

    -->
    <!--

    <p>{{.Site.Params.pricingSchedule.first}}</p>
        
    <p>{{.Site.Params.pricingSchedule.second}}</p>
        
    <p>{{.Site.Params.pricingSchedule.third}}</p>

    -->
</div>




<!--

Race registration opens Black Friday, November 24, at $90.
That price is good through midnight Monday, November 27.

Price will increase to $100 Tuesday November 28 through the end of the year.

Price will increase on January 1, 2024 to $120, and remain open until March 17, 2024.

-->