<div class="home-opener-container">
  <div class="column-left">
    <h1 style="margin-top: 0px">{{.Site.Params.event.annual}} Annual Hinte Anderson Trail Run 50K</h1>
    <p>Hello HAT runners, volunteers, and fans,</p>

    <p>{{.Site.Params.event.raceMonth}} {{.Site.Params.event.raceDate}}rd, {{.Site.Params.event.raceYear}} will mark the
      {{.Site.Params.event.annual}}
      running of this
      iconic spring ultra-marathon on the trails of Susquehanna State Park, in Havre de Grace, MD. The
      50-kilometer course traverses single-track trails, intermixed with open
      fields,
      dirt roads, and as few steps as we can manage on black-top. Our course covers nearly every inch of the park over
      two identical
      loops with nearly 4,300 feet of climbing. Be ready for 4 stream crossings - (read: your feet will get wet!)</p>

    <div style="text-align: center; margin: 2rem 0rem; font-size: 1.3rem">
      <p style="margin: 0">Registration will open {{.Site.Params.registration.month}}
        {{.Site.Params.registration.date}},
        {{.Site.Params.registration.year}} on </p>
      <p style="margin: 0"><a href="{{.Site.Params.registerLink}}">ultrasignup.com</a></p>
      <p>There will be a 350 runner cap on the 2024 race, register early.</p>
    </div>


    <p>The Steppingstone Farm Museum serves as our race day headquarters as well as the start/finish line. By day's
      end, the historic grounds will be filled with
      spectators, volunteers, and, of course, your RD's welcoming you to the finish with a handshake and the best swag
      there is to offer. Check out the <a href="{{.Site.BaseURL}}runners">runner's corner</a> for course maps and more
      details.</p>

    <p>Along the way, you'll experience our world-renowned aid stations filled with
      everything you need to keep you hydrated, energized and inspired. If you aren't running, volunteers and spectators
      are always welcome!</p>

    <p><a href="{{.Site.BaseURL}}spectators#race-hq-map">Map to Race HQ</a></p>

    <p>One last thing... speaking of volunteers. This race doesn't happen without the gracious donation of time from our
      many volunteers. When you come and experience HAT, you'll walk away feeling it was something special - that's not
      (only) the runner's high, it's because of our volunteers.</p>


    <!--     <p>the gear! We take pride in our high-quality runner swag. Expect a gift from us both before AND
      after
      the race. It'll be a surprise, but we promise it's worth the wait. And, your HAT run will be topped off with the
      official HAT hat. Wear it with pride to celebrate your accomplishment!</p> -->

    <p>Check out our <a href="{{.Site.BaseURL}}runners">Runner's page</a> for all the fine print (fees, policies, course
      map, etc).</p>

    <p>Registration opens Black Friday, {{.Site.Params.registration.month}}
      {{.Site.Params.registration.date}} on <a href="{{.Site.Params.registerLink}}">ultrasignup.com</a></p>

    <p>We'll be ready for you on {{.Site.Params.event.raceMonth}} {{.Site.Params.event.raceDate}}rd,
      {{.Site.Params.event.raceYear}}. Don't miss this great ultra-run experience!</p>
  </div>
  <div class="column-right">
    <div style="margin-bottom: 1rem">
      <img width="100%" src="{{.Site.BaseURL}}img/tim_and_phil_main.jpg" alt="Tim Gavin and Phil Anderson">
      <em style="font-size: .8rem; display: block; text-align: center">Tim Gavin and Phil Anderson</em>
    </div>
    <img width="100%" src="{{.Site.BaseURL}}img/2022-winners.jpg" alt="2022 race winners">
    <em style="font-size: .8rem; display: block; text-align: center">2022 race winners Daniel Frank and Amy Nalven</em>
  </div>
</div>

